**Here is the link to the markdown module page <a href="https://www.earthdatascience.org/courses/intro-to-earth-data-science/file-formats/use-text-files/format-text-with-markdown-jupyter-notebook/" target="_blank">here!</a>**

# Welcome to the Python Party`

## Let's get started!

### And the countdown begins!

#### 3.. 2.. 1.. Tada !

***
wow!
***

*Don't you worry my child!*

`Here is some code!`

* We will learn to code.
* Practice! Practice! Practice!

1. Also, We know practice makes the man perfect.
2. Don't Quit!

![Easy Pie](https://memecreator.org/static/images/memes/4991929.jpg)

# Homework Question

**Qn. You are given an integer A, you need to find and return the sum of all the even numbers between 1 and A.
Even numbers are those numbers that are divisible by 2.**

In [1]:
def even(num):
    for i in range num:
        sum = 0
        i % 2 == 0:
        sum = sum + i
        i+=1
    return(print(sum))
even(25)

SyntaxError: invalid syntax (Temp/ipykernel_86784/677492860.py, line 2)

In [10]:
n= int(input())
for i in range (n):
    sum=0
    if i%2==0:
        sum = sum + i
        i+=1
        print(sum)

10
0
2
4
6
8

# Inverted Numeric Pyramid

**Qn: Given an integer N, print the corresponding Numeric Inverted Half Pyramid pattern for N.**

*For example if N = 4 then pattern will be like:*
![YO Boys!](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuu72nQD4UFTOeJ5_6cLO-8WT6LL8R7cu2Iw&usqp=CAU)

**You can find the link to a beautiful explanation in this <a href="https://www.youtube.com/watch?v=fABNMH1DLD0&t=676s" target="_blank">video</a>**

In [3]:
no_row= int(input())
for row in range(no_row,0,-1):
    for column in range (1,row+1):
        if row==column:
            print(column,end=" ")
        else:
            print(column,end="")
    print()

5
12345
1234
123
12
1

# Write a Function

**Sum of the two Number:**

In [11]:
def sum(a,b):
    sum = a+b
    print(sum)

In [12]:
sum(5,8)

13

In [22]:
def sum(a,b):
    sum = a+b
    return(sum)

In [14]:
sum(1,9)

10

**Sum of even number between 1 and A**

In [15]:
A=int(input())
sum=0
for num in range(1,A+1):
    if (num%2 ==0):
        sum = sum + num
print(sum)

60
930

In [16]:
maximum = int(input(" Please Enter the Maximum Value : "))
total = 0

for number in range(1, maximum+1):
    if(number % 2 == 0):
        total = total + number

print("The Sum of Even Numbers from 1 to {0} = {1}".format(number, total))

 Please Enter the Maximum Value : 60
The Sum of Even Numbers from 1 to 60 = 930

**Multiplication Table**

In [20]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    n=int(input())
    for i in range(1,11):
        t1= n * i
        print(n, '*', i, '=', n*i)

    return 0

if __name__ == '__main__':
    main()

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50