Learning Loops

We will discuss about various loops here,if,if-else,if-elif-else nested loop, while loops,for loops,etc.

not only this,we will also solve the assignment problems,along the homework problems which will only be accessible once you ar done with the Assignment qeustions.

# *THIS IS BECOMING EASY!

# Sum of digits of the Given numbers:

In [10]:
operation=int(input())
i=1
for i in range(operation):
 n= int(input())
 tot=0
 while(n>0):
     dig=n%10
     tot=tot+dig
     n=n//10
 print(tot)
i=i+1

3
11
2
111
3
1111
4

# Pattern Problems

# Pyramid Pattern:

In [123]:
n=int(input())
for i in range(n):
        for j in range (i,n):
            print(' ',end='')
        for j in range (i+1):
            print(j+1,end='')
        for j in range (i):
            print(j+1,end='') 
        print()

5
     1
    121
   12312
  1234123
 123451234

In [141]:
n=int(input())
for i in range(n):
        for j in range (i,n):
            print(' ',end=' ')
        for j in range (i+1):
            print(j+1,end=' ')
        for j in range (i):
            print(j+1,end=' ') 
        print()

5
          1
        1 2 1
      1 2 3 1 2
    1 2 3 4 1 2 3
  1 2 3 4 5 1 2 3 4

In [139]:
n=int(input())
for i in range(n):
        for j in range (i+1):
            print(' ',end=' ')
        for j in range (i,n-1):
            print(j+1,end=' ')
        for j in range (i,n):
            print(j+1,end=' ')
        print()

5
  1 2 3 4 1 2 3 4 5
    2 3 4 2 3 4 5
      3 4 3 4 5
        4 4 5
          5

In [19]:
n=int(input())
p=1
for i in range(n):
        for j in range (i,n):
            print(' ',end=' ')
        for j in range (i+1):
            print(p,end=' ')
        for j in range (i):
            print(p,end=' ') 
        p=p+1
        print()

5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5

In [138]:
n=int(input())
p=5
for i in range(n):
        for j in range (i+1):
            print(' ',end=' ')
        for j in range (i,n-1):
            print(p,end=' ')
        for j in range (i,n):
            print(p,end=' ')
        p=p-1
        print()

5
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

# Diamond Star Pattern:

# Case I: Diamond with increasing numbers.

In [137]:
n=int(input())
p=1
#code for right pyramd:
for i in range(n-1):
        for j in range (i,n):
            print(' ',end=' ')
        for j in range (0,i+1):
            print(p,end=' ')
        for j in range (0,i):
            print(p,end=' ') 
        p=p+1
        print()
#code for reverse pyramid:
for i in range(n):
        for j in range (0,i+1):
            print(' ',end=' ')
        for j in range (i,n-1):
            print(p,end=' ')
        for j in range (i,n):
            print(p,end=' ')
        p=p+1
        print()

5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

# Case II:Diamond with increasing then decreaing numbers.

In [85]:
n=int(input())
p=1
#code for right pyramid:
for i in range(n-1):
        for j in range (i,n):
            print(' ',end=' ')
        for j in range (i+1):
            print(p,end=' ')
        for j in range (i):
            print(p,end=' ') 
        p=p+1
        print()
        
#code for reverse pyramid:
for i in range(n):
        for j in range (i+1):
            print(' ',end=' ')
        for j in range (i,n-1):
            print(p,end=' ')
        for j in range (i,n):
            print(p,end=' ')
        p=p-1
        print()

5
          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

# Right Triangle:

# Case I:Increasing row / increasing column / increasing number:

In [96]:
n=int(input())
for i in range (n):
    for j in range (i,n):
        print(' ',end=' ')
    for j in range (0,i+1):
        print(j+1,end=' ')
    print()

5
          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

# Case II: Increasing row / decreasing column / increasing number:

In [109]:
n=int(input())
for i in range (n):
    for j in range (0,i+1):
        print(' ',end=' ')
    for j in range (i,n):
        print(j+1,end=' ')
    print()

5
  1 2 3 4 5
    2 3 4 5
      3 4 5
        4 5
          5

# Case III: Increasing row / decreasing column / constant number:

In [127]:
n=int(input())
p=1
for i in range (n):
    for j in range (0,i+1):
        print(' ',end=' ')
    for j in range (i,n):
        print(p,end=' ')
    p=p+1
    print()

5
  1 1 1 1 1
    2 2 2 2
      3 3 3
        4 4
          5

# Case III: Increasing row / increasing column / constant number:

In [129]:
n=int(input())
p=1
for i in range (n):
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(0,i+1):
        print(p,end=" ")
    p=p+1
    print()

5
          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5

# Left Triangle:

# Case I: Increasing row / increasing column / increasing number:

In [102]:
n=int(input())
for i in range (n):
    for j in range (0,i+1):
        print(j+1,end=' ')
    for j in range (i,n):
        print(' ',end=' ')
    print()

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Case II: Increasing row / decreasing column / increasing number:

In [2]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    n=int(input())
    for i in range (1,n+1):
        
        for j in range (i,n+1):
            if i==j:    
                print(j,end=" ")
            else:
                print(j,end=" ")
        print()

    return 0

if __name__ == '__main__':
    main()

5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

# Case III: Increasing row / decreasing column / constant number:

In [125]:
n=int(input())
p=1
for i in range (n):
    for j in range (i,n):
        print(p,end=' ')
    for j in range (0,i+1):
        print(' ',end=' ')
    p=p+1
    print()

5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

# Case IV: Increasing row / increasing column / constant number:

In [126]:
n=int(input())
p=1
for i in range (n):
    for j in range (0,i+1):
        print(p,end=' ')
    for j in range (i,n):
        print(' ',end=' ')
    p=p+1
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Sand-Glass:

In [36]:
n=int(input())
for i in range (n):  
    for j in range (0,i+1):
        print(' ',end=' ')
    for j in range (i,n):
        print(j+1,end=' ')
    for j in range (i,n-1):
        print(j+1,end=' ')
    for j in range (0,i+1):
        print(' ',end=' ')
    print()
for i in range(n):
    for j in range (i,n-1):
        print(' ',end=' ')
    for j in range (0,i+1):
        print(j+1,end=' ')
    for j in range (0,i+1):
        print(j+1,end=' ')
    for j in range (i,n):
        print(' ',end=' ')
    print()

5
  1 2 3 4 5 1 2 3 4
    2 3 4 5 2 3 4
      3 4 5 3 4
        4 5 4
          5
        1 1
      1 2 1 2
    1 2 3 1 2 3
  1 2 3 4 1 2 3 4
1 2 3 4 5 1 2 3 4 5

# Printing This Pattern

          1 
        2 3 2 
      3 4 5 4 3 
    4 5 6 7 6 5 4 
  5 6 7 8 9 8 7 6 5

In [29]:
n = int(input())
for i in range (1,n+1):
    for j in range(1,n-i+1):
        print(" ",end=" ")
    for j in range(i,0,-1):
        print(j,end=" ")
    for j in range (2,i+1):
        print(j,end=" ")
        
    print()

5
        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [35]:
n = int(input())
for i in range (1,n+1):
    for j in range(1,n-i+1):
        print(" ",end=" ")
    for j in range (0,n+1,+1):
        print(j,end=" ")
    for j in range(2,i-1):
        print(j,end=" ")
    
        
    print()

5
        0 1 2 3 4 5
      0 1 2 3 4 5
    0 1 2 3 4 5
  0 1 2 3 4 5 2
0 1 2 3 4 5 2 3

In [38]:
n=int(input())
for i in range(n):
        for j in range (i,n):
            print(' ',end=' ')
        for j in range (0,i+1,+1):
            print(j+1,end=' ')
        for j in range (0,i,-1):
            print(j+1,end=' ') 
        print()

5
          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5